In [1]:
import pandas as pd
from dotenv import load_dotenv
import os

In [2]:
# Set environment variables from the .env in the local environment
load_dotenv()

url_2015 = os.getenv("url_2015")
url_2014 = os.getenv("url_2014")
url_2013 = os.getenv("url_2013")
url_2012 = os.getenv("url_2012")
url_2011 = os.getenv("url_2011")

In [3]:
# 2015
url_2015 = url_2015.replace('www.dropbox.com', 'dl.dropboxusercontent.com')
df_2015 = pd.read_csv(url_2015)
df_2015.head()

HTTPError: HTTP Error 404: Not Found

In [ ]:
# 2014
url_2014 = url_2014.replace('www.dropbox.com', 'dl.dropboxusercontent.com')
df_2014 = pd.read_csv(url_2014)   
df_2014.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_FOBTFS,_CRCREC,_AIDTST3,_IMPEDUC,_IMPMRTL,_IMPHOME,RCSBRAC1,RCSRACE1,RCHISLA1,RCSBIRTH
0,1.0,1.0,b'01172014',b'01',b'17',b'2014',1100.0,2.014000e+09,2.014000e+09,1.0,...,2.0,1.0,2.0,5.0,1.0,1.0,NaN,b'',b'',b''
1,1.0,1.0,b'01072014',b'01',b'07',b'2014',1100.0,2.014000e+09,2.014000e+09,1.0,...,2.0,2.0,2.0,4.0,1.0,1.0,NaN,b'',b'',b''
2,1.0,1.0,b'01092014',b'01',b'09',b'2014',1100.0,2.014000e+09,2.014000e+09,1.0,...,2.0,2.0,2.0,6.0,1.0,1.0,NaN,b'',b'',b''
3,1.0,1.0,b'01072014',b'01',b'07',b'2014',1100.0,2.014000e+09,2.014000e+09,1.0,...,2.0,1.0,2.0,6.0,3.0,1.0,NaN,b'',b'',b''
4,1.0,1.0,b'01162014',b'01',b'16',b'2014',1100.0,2.014000e+09,2.014000e+09,1.0,...,2.0,1.0,2.0,5.0,1.0,1.0,NaN,b'',b'',b''

In [ ]:
# 2013
url_2013 = url_2013.replace('www.dropbox.com', 'dl.dropboxusercontent.com')
df_2013 = pd.read_csv(url_2013)   
df_2013.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_AGE80,_IMPEDUC,_IMPMRTL,_IMPHOME,RCSBRAC1,RCSRACE1,RCHISLA1,RCSBIRTH,TYPEINDS,TYPEWORK
0,1.0,1.0,b'01092013',b'01',b'09',b'2013',1100.0,2.013001e+09,2.013001e+09,1.0,...,60.0,6.0,2.0,1.0,NaN,b'',b'',b'',b'',b''
1,1.0,1.0,b'01192013',b'01',b'19',b'2013',1100.0,2.013001e+09,2.013001e+09,1.0,...,50.0,5.0,1.0,1.0,NaN,b'',b'',b'',b'',b''
2,1.0,1.0,b'01192013',b'01',b'19',b'2013',1100.0,2.013001e+09,2.013001e+09,1.0,...,55.0,6.0,1.0,1.0,NaN,b'',b'',b'',b'',b''
3,1.0,1.0,b'01112013',b'01',b'11',b'2013',1100.0,2.013001e+09,2.013001e+09,1.0,...,64.0,4.0,1.0,1.0,NaN,b'',b'',b'',b'',b''
4,1.0,2.0,b'02062013',b'02',b'06',b'2013',1100.0,2.013001e+09,2.013001e+09,1.0,...,66.0,6.0,1.0,1.0,NaN,b'',b'',b'',b'',b''

In [ ]:
# 2012
url_2012 = url_2012.replace('www.dropbox.com', 'dl.dropboxusercontent.com')
df_2012 = pd.read_csv(url_2012)   
df_2012.head()

,_STATE,_GEOSTR,_DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,IDAY,...,_PNEUMO2,_RFSEAT2,_RFSEAT3,_RFMAM2Y,_MAM502Y,_RFPAP32,_RFPSA21,_RFBLDS2,_RFSIGM2,_AIDTST3
0,1.0,7.0,1.0,1.0,20118.0,3.0,2.0,b'02162012',b'02',b'16',...,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,2.0,2.0
1,1.0,8.0,1.0,1.0,10119.0,17.0,1.0,b'01052012',b'01',b'05',...,NaN,1.0,1.0,NaN,NaN,NaN,1.0,2.0,1.0,1.0
2,1.0,8.0,2.0,1.0,10126.0,5.0,1.0,b'01032012',b'01',b'03',...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0,1.0,2.0
3,1.0,8.0,1.0,1.0,10128.0,9.0,1.0,b'01192012',b'01',b'19',...,2.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0,2.0,2.0
4,1.0,8.0,1.0,1.0,10130.0,26.0,1.0,b'01062012',b'01',b'06',...,NaN,1.0,1.0,1.0,1.0,NaN,NaN,2.0,1.0,2.0

In [ ]:
# 2011
url_2011 = url_2011.replace('www.dropbox.com', 'dl.dropboxusercontent.com')
df_2011 = pd.read_csv(url_2011)   
df_2011.head()

,_STATE,_GEOSTR,_DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,IDAY,...,DRNKANY5,DROCDY3_,_RFBING5,_DRNKDY4,_DRNKMO4,_RFDRHV4,_RFDRMN4,_RFDRWM4,_AIDTST3,HAVHPAD
0,1.0,1.0,1.0,1.0,10001.0,27.0,1.0,b'01202011',b'01',b'20',...,1.0,4.300000e+01,1.0,8.600000e+01,2.600000e+01,1.0,NaN,1.0,2.0,NaN
1,1.0,1.0,1.0,1.0,10008.0,13.0,1.0,b'01142011',b'01',b'14',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,9.0,NaN,NaN,NaN
2,1.0,5.0,1.0,1.0,10058.0,4.0,1.0,b'01062011',b'01',b'06',...,1.0,1.400000e+01,1.0,1.400000e+01,4.000000e+00,1.0,NaN,1.0,2.0,NaN
3,1.0,7.0,1.0,1.0,10079.0,7.0,1.0,b'02012011',b'02',b'01',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,NaN,9.0,NaN,NaN
4,1.0,7.0,1.0,1.0,10081.0,28.0,1.0,b'02012011',b'02',b'01',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,NaN,1.0,1.0,NaN

In [ ]:
# Create sets of the columns
set1 = set(df_2015.columns)
set2 = set(df_2014.columns)
set3 = set(df_2013.columns)
set4 = set(df_2012.columns)
set5 = set(df_2011.columns)

# Find the intersection of the sets to get common columns
common_columns = list(set1.intersection(set2).intersection(set3).intersection(set4).intersection(set5))

# Combine the dataframes using the common columns
combined_df = pd.concat([df_2015[common_columns], df_2014[common_columns], df_2013[common_columns], df_2012[common_columns], df_2011[common_columns]])
combined_df.head()

,USENOW3,_INCOMG,HADSIGM3,PVTRESD2,DIABAGE2,HOWLONG,DROCDY3_,LASTSMK2,MSCODE,NUMADULT,...,SMOKE100,LANDLINE,_BMI5,IDAY,LASTPAP2,_AGEG5YR,INCOME2,HTM4,WEIGHT2,IMFVPLAC
0,3.0,2.0,NaN,NaN,NaN,NaN,5.397605e-79,2.0,3.0,3.0,...,1.0,NaN,4018.0,b'29',NaN,9.0,3.0,178.0,280.0,1.0
1,3.0,1.0,2.0,NaN,NaN,NaN,5.397605e-79,NaN,5.0,1.0,...,1.0,NaN,2509.0,b'20',NaN,7.0,1.0,173.0,165.0,NaN
2,NaN,9.0,NaN,NaN,NaN,NaN,9.000000e+02,NaN,5.0,2.0,...,NaN,NaN,2204.0,b'01',NaN,11.0,99.0,180.0,158.0,NaN
3,3.0,5.0,1.0,NaN,NaN,NaN,5.397605e-79,NaN,3.0,3.0,...,2.0,NaN,2819.0,b'14',NaN,9.0,8.0,170.0,180.0,5.0
4,3.0,9.0,1.0,NaN,NaN,NaN,5.397605e-79,NaN,3.0,2.0,...,2.0,NaN,2437.0,b'14',NaN,9.0,77.0,163.0,142.0,NaN

In [ ]:
combined_df.shape

(2380047, 158)

In [ ]:
combined_df.sort_values(by="IDATE", ascending=False, inplace=True)
combined_df.reset_index(drop=True, inplace=True)
combined_df.shape

(2380047, 158)

In [ ]:
# Function to clean string
def clean_string(string_value):
    cleaned_value = string_value.replace("b'", "").replace("'", "").strip() 
    return cleaned_value

# Apply the clean function to the 'IYEAR' column
combined_df["IYEAR"] = combined_df['IYEAR'].apply(clean_string)
combined_df["IYEAR"].head()

0    2015
1    2015
2    2015
3    2015
4    2015
Name: IYEAR, dtype: object

In [ ]:
# Apply the clean function to the 'IMONTH' column
combined_df["IMONTH"] = combined_df['IMONTH'].apply(clean_string)
combined_df["IMONTH"].head()

0    12
1    12
2    12
3    12
4    12
Name: IMONTH, dtype: object

In [ ]:
combined_df['month_year'] = pd.to_datetime(combined_df['IYEAR'].astype(str) + '-' + combined_df['IMONTH'].astype(str), format='%Y-%m')

In [26]:
combined_df.head()

NameError: name 'combined_df' is not defined

In [ ]:
combined_df.drop(columns=['IYEAR', 'IMONTH', 'IDAY', "IDATE"], inplace=True)

In [ ]:
combined_df.shape

(2380047, 155)

In [ ]:
# Drop unnecessary columns.
reduced_df = combined_df.drop([
    # non-health related columns
    'FMONTH', 'SEQNO', 'DISPCODE', '_PSU', 'CTELENUM', 'NUMADULT', 'NUMMEN', 'NUMWOMEN', 'CTELNUM1', 'CELLFON2', 'CADULT', 'PVTRESD2',
    'CSTATE', 'LANDLINE', 'RENTHOM1', 'NUMHHOL2', 'NUMPHON2', 'CPDEMO1', 'VETERAN3', 'CHILDREN', 'INCOME2', '_CHLDCNT',
    '_CLLCPWT', '_STRWT', '_RAWRAKE', '_WT2RAKE',
    '_STSTR', 'MSCODE', 'QSTLANG', 'QSTVER', 'RCSRLTN2', 'RCSGENDR', 'SCNTLWK1',
    'SCNTLPAD', 'SCNTPAID', 'SEATBELT', '_LLCPWT',
    # health related columns
    'USENOW3',
    'HTIN4', 'WTKG3',
    'HTM4', 'DROCDY3_', '_BMI5', 'STOPSMK2', 'LASTSMK2', 'PERSDOC2', 'MEDCOST', 'CHECKUP1',
    'CHCOCNCR', 'CHCKIDNY', '_AIDTST3', '_PNEUMO2', '_RFSEAT3',
    '_RFSEAT2', '_AGE65YR', '_AGE_G', 'LASTSIG3', 'HADSGCO1', 'HADSIGM3', 'LSTBLDS3', 'BLDSTOOL',
    'PSATEST1', 'PSATIME', 'LENGEXAM', 'PROFEXAM',
    'LASTPAP2', 'HADPAP2', 'HOWLONG', 'HADMAM', 'HPVADSHT', 'HPVADVC2',
    'ASINHALR', 'ASTHMED3',
    'ASNOSLEP', 'ASYMPTOM', 'ASACTLIM', 'ASRCHKUP', 'ASDRVIST', 'ASERVIST', 'ASATTACK',
    'EYEEXAM', 'FEETCHK', 'CHKHEMO3', 'FEETCHK2', 'HIVTSTD3',
    'HIVTST6', 'PNEUVAC3', 'IMFVPLAC', 'FLSHTMY2',
    '_CASTHM1', '_ASTHMS1', '_DRDXAR1', '_RFBING5', 'CASTHNO2', 'CASTHDX2',
    'MAXDRNKS', 'DRNK3GE5', 'AVEDRNK2', 'ALCDAY5', 'LASTSMK2', 'STOPSMK2', 'SMOKDAY2', 'USEEQUIP', 'EMTSUPRT',
    'ASTHMAGE','ASTHNOW', '_RFBMI5', 'QLMENTL2', 'QLSTRES2', 'QLHLTH2',
    '_HCVU651', 'WEIGHT2','HEIGHT3', 'SMOKE100', 'PREGNANT',
    # Exercise related columns
    'EXERANY2',
    # Diabetes related columns
    'DIABEDU', 'DIABEYE', 'DOCTDIAB', 'BLDSUGAR', 'INSULIN', 'PDIABTST',
    ], axis=1)
reduced_df.head()

,_INCOMG,DIABAGE2,MARITAL,SCNTWRK1,_SMOKER3,CVDSTRK3,POORHLTH,SEX,GENHLTH,_EDUCAG,...,DIABETE3,DRNKANY5,_LTASTH1,MENTHLTH,_TOTINDA,_BMI5CAT,HAVARTH3,HLTHPLN1,_AGEG5YR,month_year
0,4.0,NaN,2.0,NaN,4.0,2.0,5.0,2.0,4.0,3.0,...,3.0,1.0,2.0,15.0,1.0,3.0,1.0,1.0,5.0,2015-12-01
1,9.0,NaN,3.0,NaN,4.0,2.0,NaN,2.0,2.0,2.0,...,3.0,1.0,1.0,88.0,1.0,3.0,1.0,1.0,11.0,2015-12-01
2,5.0,NaN,6.0,NaN,4.0,2.0,NaN,1.0,2.0,4.0,...,3.0,1.0,1.0,88.0,1.0,3.0,2.0,2.0,4.0,2015-12-01
3,5.0,NaN,1.0,NaN,4.0,2.0,1.0,2.0,2.0,4.0,...,3.0,1.0,2.0,5.0,9.0,2.0,2.0,1.0,3.0,2015-12-01
4,5.0,NaN,2.0,NaN,4.0,2.0,NaN,2.0,1.0,3.0,...,3.0,2.0,1.0,88.0,1.0,2.0,2.0,1.0,8.0,2015-12-01

In [ ]:
reduced_df.columns

Index(['_INCOMG', 'DIABAGE2', 'MARITAL', 'SCNTWRK1', '_SMOKER3', 'CVDSTRK3',
       'POORHLTH', 'SEX', 'GENHLTH', '_EDUCAG', '_RFSMOK3', 'CHCSCNCR',
       'CVDINFR4', 'LSATISFY', 'CVDCRHD4', 'ASTHMA3', '_STATE', 'EDUCA',
       'ADDEPEV2', 'PAINACT2', 'PHYSHLTH', 'QLACTLM2', 'PREDIAB1', '_RFHLTH',
       'HADHYST2', 'DIABETE3', 'DRNKANY5', '_LTASTH1', 'MENTHLTH', '_TOTINDA',
       '_BMI5CAT', 'HAVARTH3', 'HLTHPLN1', '_AGEG5YR', 'month_year'],
      dtype='object')

In [ ]:
# Rename columns
reduced_df.rename(columns={
    "_STATE": "state",
    "_INCOMG": "income",
    "DIABAGE2": "age_diagnosed_diabetes",
    "_SMOKER3": "smoker_status",
    "CVDSTRK3": "stroke",
    "SEX": "sex",
    "MARITAL": "marital_status",    
    "GENHLTH": "general_health",
    "SCNTWRK1": "hours_worked_per_week",
    "_RFSMOK3": "current_smoker",
    "CHCSCNCR": "skin_cancer", 
    "CVDINFR4": "heart_attack", 
    "IDATE": "interview_date", 
    "LSATISFY": "life_satisfaction", 
    "CVDCRHD4": "coronary_heart_disease", 
    "ASTHMA3": "asthma",
    "ADDEPEV2": "depressive_disorder", 
    "PHYSHLTH": "number_of_days_physical_health_not_good_last_30_days", 
    "QLACTLM2": "activity_limitation", 
    "PREDIAB1": "pre_diabetes", 
    "HADHYST2": "had_hysterectomy", 
    "DIABETE3": "diabetes",
    "_LTASTH1": "lifetime_asthma", 
    "MENTHLTH": "number_of_days_mental_health_not_good", 
    "HAVARTH3": "arthristis", 
    "HLTHPLN1": "healthcare_coverage", 
    "_AGEG5YR": "age_category",
    "POORHLTH": "poor_health_during_last_30_days",
    "_EDUCAG": "education_level",
    "EDUCA": "education_level",
    "PAINACT2": "usual_activity_hard_in_last_30_days",
    "_RFHLTH": "health_level",
    "DRNKANY5": "number_of_days_alcohol_consumption_in_last_30_days",
    "_TOTINDA": "physical_activity_during_last_30_days",
    "_BMI5CAT": "bmi_category",
    }, inplace=True)

In [ ]:
reduced_df.columns

Index(['income', 'age_diagnosed_diabetes', 'marital_status',
       'hours_worked_per_week', 'smoker_status', 'stroke',
       'poor_health_during_last_30_days', 'sex', 'general_health',
       'education_level', 'current_smoker', 'skin_cancer', 'heart_attack',
       'life_satisfaction', 'coronary_heart_disease', 'asthma', 'state',
       'education_level', 'depressive_disorder',
       'usual_activity_hard_in_last_30_days',
       'number_of_days_physical_health_not_good_last_30_days',
       'activity_limitation', 'pre_diabetes', 'health_level',
       'had_hysterectomy', 'diabetes',
       'number_of_days_alcohol_consumption_in_last_30_days', 'lifetime_asthma',
       'number_of_days_mental_health_not_good',
       'physical_activity_during_last_30_days', 'bmi_category', 'arthristis',
       'healthcare_coverage', 'age_category', 'month_year'],
      dtype='object')

In [ ]:
# Export to csv
reduced_df.to_csv('datasets/combined_year_data.csv', index=False)

In [14]:
df = pd.read_csv('datasets/combined_year_data.csv').drop(columns=['Unnamed: 0'])
new_df = df.copy()
new_df.head()

,income,age_diagnosed_diabetes,marital_status,hours_worked_per_week,smoker_status,stroke,poor_health_during_last_30_days,sex,general_health,education_level,...,diabetes,number_of_days_alcohol_consumption_in_last_30_days,lifetime_asthma,number_of_days_mental_health_not_good,physical_activity_during_last_30_days,bmi_category,arthristis,healthcare_coverage,age_category,month_year
0,4.0,NaN,2.0,NaN,4.0,2.0,5.0,2.0,4.0,3.0,...,3.0,1.0,2.0,15.0,1.0,3.0,1.0,1.0,5.0,2015-12-01
1,9.0,NaN,3.0,NaN,4.0,2.0,NaN,2.0,2.0,2.0,...,3.0,1.0,1.0,88.0,1.0,3.0,1.0,1.0,11.0,2015-12-01
2,5.0,NaN,6.0,NaN,4.0,2.0,NaN,1.0,2.0,4.0,...,3.0,1.0,1.0,88.0,1.0,3.0,2.0,2.0,4.0,2015-12-01
3,5.0,NaN,1.0,NaN,4.0,2.0,1.0,2.0,2.0,4.0,...,3.0,1.0,2.0,5.0,9.0,2.0,2.0,1.0,3.0,2015-12-01
4,5.0,NaN,2.0,NaN,4.0,2.0,NaN,2.0,1.0,3.0,...,3.0,2.0,1.0,88.0,1.0,2.0,2.0,1.0,8.0,2015-12-01

In [19]:
new_df["diabetes"].unique()
print(new_df["diabetes"].dtype)

float64

In [20]:
new_df= new_df[new_df["diabetes"].isin([3., 1.])]

new_df["diabetes"].unique()

array([3., 1.])

In [21]:
new_df.shape

(2313629, 35)

In [23]:
new_df.to_csv('datasets/combined_year_data.csv', index=False)

In [29]:
new_df["month_year"] = pd.to_datetime(new_df["month_year"])

In [34]:


# Extract the year from the datetime column
new_df['year'] = new_df['month_year'].dt.year

new_df["year"].unique()

# Group by the year and select a random sample of 100000 records from each group
sample_size = 100000
sampled_df = new_df.groupby('year', group_keys=False).apply(lambda x: x.sample(min(len(x), sample_size))).reset_index(drop=True)

# Display the sampled DataFrame
sampled_df.tail()

,income,age_diagnosed_diabetes,marital_status,hours_worked_per_week,smoker_status,stroke,poor_health_during_last_30_days,sex,general_health,education_level,...,number_of_days_alcohol_consumption_in_last_30_days,lifetime_asthma,number_of_days_mental_health_not_good,physical_activity_during_last_30_days,bmi_category,arthristis,healthcare_coverage,age_category,month_year,year
510569,2.0,NaN,5.0,NaN,4.0,2.0,14.0,2.0,4.0,3.0,...,1.0,1.0,88.0,2.0,3.0,2.0,1.0,2.0,2016-01-01,2016
510570,2.0,NaN,1.0,NaN,4.0,2.0,88.0,2.0,3.0,2.0,...,2.0,1.0,3.0,2.0,2.0,2.0,1.0,2.0,2016-01-01,2016
510571,3.0,NaN,1.0,NaN,3.0,2.0,NaN,2.0,1.0,2.0,...,1.0,1.0,88.0,1.0,2.0,2.0,1.0,10.0,2016-01-01,2016
510572,9.0,NaN,5.0,NaN,4.0,2.0,3.0,2.0,4.0,1.0,...,2.0,1.0,7.0,1.0,3.0,2.0,1.0,1.0,2016-01-01,2016
510573,3.0,NaN,2.0,NaN,1.0,2.0,30.0,2.0,5.0,4.0,...,2.0,1.0,15.0,2.0,NaN,1.0,1.0,11.0,2016-01-01,2016

In [36]:
sampled_df = sampled_df[sampled_df['year'] != 2016]
sampled_df.sort_values(by="month_year", ascending=True, inplace=True)
sampled_df.tail()

,income,age_diagnosed_diabetes,marital_status,hours_worked_per_week,smoker_status,stroke,poor_health_during_last_30_days,sex,general_health,education_level,...,number_of_days_alcohol_consumption_in_last_30_days,lifetime_asthma,number_of_days_mental_health_not_good,physical_activity_during_last_30_days,bmi_category,arthristis,healthcare_coverage,age_category,month_year,year
425256,5.0,NaN,2.0,NaN,1.0,2.0,NaN,2.0,2.0,4.0,...,1.0,1.0,88.0,2.0,2.0,2.0,1.0,7.0,2015-12-01,2015
425257,2.0,65.0,3.0,NaN,3.0,2.0,88.0,2.0,5.0,4.0,...,1.0,1.0,88.0,2.0,3.0,2.0,1.0,11.0,2015-12-01,2015
465530,5.0,NaN,1.0,NaN,4.0,2.0,NaN,2.0,1.0,4.0,...,1.0,1.0,88.0,1.0,3.0,2.0,1.0,4.0,2015-12-01,2015
491323,5.0,NaN,1.0,NaN,4.0,2.0,8.0,2.0,4.0,4.0,...,2.0,2.0,1.0,1.0,4.0,1.0,1.0,9.0,2015-12-01,2015
402200,5.0,NaN,1.0,36.0,4.0,2.0,NaN,2.0,2.0,4.0,...,2.0,1.0,88.0,1.0,NaN,2.0,1.0,3.0,2015-12-01,2015

In [37]:
sampled_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 77781 to 402200
Data columns (total 36 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   income                                                500000 non-null  float64
 1   age_diagnosed_diabetes                                44811 non-null   float64
 2   marital_status                                        499605 non-null  float64
 3   hours_worked_per_week                                 25674 non-null   float64
 4   smoker_status                                         500000 non-null  float64
 5   stroke                                                500000 non-null  float64
 6   poor_health_during_last_30_days                       256893 non-null  float64
 7   sex                                                   500000 non-null  float64
 8   general_health                                        499996 non-null  float64
 9   education_level                                       500000 non-null  float64
 10  current_smoker                                        500000 non-null  float64
 11  skin_cancer                                           499999 non-null  float64
 12  heart_attack                                          500000 non-null  float64
 13  life_satisfaction                                     10224 non-null   float64
 14  coronary_heart_disease                                500000 non-null  float64
 15  asthma                                                500000 non-null  float64
 16  state                                                 500000 non-null  float64
 17  education_level.1                                     499389 non-null  float64
 18  depressive_disorder                                   499997 non-null  float64
 19  usual_activity_hard_in_last_30_days                   4028 non-null    float64
 20  number_of_days_physical_health_not_good_last_30_days  500000 non-null  float64
 21  activity_limitation                                   487461 non-null  float64
 22  pre_diabetes                                          194649 non-null  float64
 23  health_level                                          500000 non-null  float64
 24  had_hysterectomy                                      121924 non-null  float64
 25  diabetes                                              500000 non-null  float64
 26  number_of_days_alcohol_consumption_in_last_30_days    500000 non-null  float64
 27  lifetime_asthma                                       500000 non-null  float64
 28  number_of_days_mental_health_not_good                 500000 non-null  float64
 29  physical_activity_during_last_30_days                 500000 non-null  float64
 30  bmi_category                                          469593 non-null  float64
 31  arthristis                                            500000 non-null  float64
 32  healthcare_coverage                                   500000 non-null  float64
 33  age_category                                          500000 non-null  float64
 34  month_year                                            500000 non-null  datetime64[ns]
 35  year                                                  500000 non-null  int32
dtypes: datetime64[ns](1), float64(34), int32(1)
memory usage: 139.2 MB

In [38]:
sampled_df.to_csv('datasets/sampled_data.csv', index=False)

In [ ]:
from utils.pipeline import run_pipeline

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("datasets/diabetes_binary_health_indicators_BRFSS2015.csv")
diabetes_binary_2015 = df.copy()

In [ ]:
run_pipeline(diabetes_binary_2015)